@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

/* Andy Bell’s Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/
$BgColor: #fcfaf9;
$VeryDarkBlue: #191826;
$VeryLightGray: #fcfaf9;
$SoftRed: #fa7453;
$Aquamarine: #66e2dc;
$Turquoise: #40fff6;
$Orange: #ff9201;
$LightOrange: #ffb964;

/*fonts*/

$IBMPlexSans: "IBM Plex Sans", sans-serif;

html {
  font-size: 16px;
  font-family: $IBMPlexSans;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("../assets/bg-main-mobile.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $BgColor;
}

.header {
  margin-bottom: 4.25rem;
  color: $VeryDarkBlue;
  padding: 0 1.5rem;
}

.header__logo {
  margin-bottom: 4rem;
  padding-top: 2.5rem;
}

.header__text {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.4545454680919647px;
  text-align: left;
}

.header_description {
  font-size: 16px;
  line-height: 162%;
  margin-top: 1.25rem;
}

.main-illustration {
  display: flex;
}

.main-illustration__bg {
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.05rem 3rem;
  background-color: $VeryDarkBlue;
  background-position: center;
  margin: 6rem 0 0 0;
}
.main-illustration__img {
  max-width: 208.97px;
  max-height: 430px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  z-index: 1;
  margin-left: -18rem;
}

.premium {
  margin-top: 10rem;
}
