@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

/* Andy Bell’s Modern CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*colors*/
$VeryDarkBlue: #191826;
$VeryLightGray: #fcfaf9;
$SoftRed: #fa7453;
$Aquamarine: #66e2dc;
$Turquoise: #40fff6;
$LightOrange: #ffb964;

/*fonts*/

$IBMPlexSans: "IBM Plex Sans", sans-serif;

html {
  font-size: 16px;
  font-family: $IBMPlexSans;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  background-image: url("../assets/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-position: 30px -250px;
  background-size: 140%;
  background-color: $VeryLightGray;
}

.header {
  margin-bottom: 4.25rem;
  color: $VeryDarkBlue;
  padding: 0 1.5rem;
}

.header__logo {
  margin-bottom: 4rem;
  padding-top: 2.5rem;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.4545454680919647px;
  text-align: left;
}

.header_description {
  font-size: 16px;
  line-height: 162%;
  margin-top: 1.25rem;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.main-illustration__bg {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.05rem 3rem;
  background-color: #191826;
  background-position: top;
  margin: 5.8rem 0 0 0;
  border-radius: 12px;
  z-index: 0;
}

.main-illustration__img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  max-width: 13.06rem;
  max-height: 26.875rem;
  margin: 0 auto;
  z-index: 1;
}

.premium {
  grid-column: 1 / 3;
  padding: 0 2.25rem;
  margin-top: -2.5rem;
  background-color: $SoftRed;
  color: $VeryLightGray;
  border-radius: 12px;
  z-index: 2;
}

.premium__title {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 3rem;
  padding-bottom: 0.75rem;
}

.premium__description {
  font-size: 1.12rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 18.8rem;
  padding-bottom: 2.25rem;
}

.premium__price {
  display: flex;
  align-items: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 2rem;

  &::after {
    content: "/ month";
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    padding-left: 1rem;
  }
}

.premiuim__download {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.button__download {
  height: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: none;
}

.button__download img {
  padding-right: 0.49rem;
}

.button__download__text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.18px;
}

.button__ios {
  background-color: $VeryDarkBlue;
  color: $VeryLightGray;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: inset 19rem 0 0 0 $Aquamarine;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
  }
}

.button__android {
  color: $VeryDarkBlue;
  background-color: $VeryLightGray;
  margin-bottom: 3rem;

  &:hover {
    box-shadow: inset 19rem 0 0 0 $LightOrange;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
  }
}

.footer {
  padding: 0 1.5rem;
}

.footer__logo {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.footer__text {
  max-width: 20.4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__adress address,
a {
  text-decoration: none;
  all: initial;
  font-weight: 700;
  color: inherit;
  font-family: inherit;
  font-size: 1rem;
}

.footer__social-media {
  margin-top: 4rem;
  padding-bottom: 5rem;
  display: flex;
  & img {
    padding-right: 1.125rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    background-image: url("../assets/bg-main-tablet.png");
    background-repeat: no-repeat;
    background-position: -360px -190px;
    background-size: 170%;
  }

  .header {
    background-image: url("../assets/bg-pattern-1.svg");
    background-repeat: no-repeat;
    background-position: 32.6em -2rem;
    background-size: 37%;
    padding: 0 2.4375rem;
    margin-bottom: 14.9rem;
  }

  .header__logo {
    margin-bottom: 5.9rem;
    padding-top: 3.87rem;
  }

  .header__title {
    max-width: 32.5rem;
    font-size: 4rem;
  }

  .header_description {
    max-width: 32.125rem;
    font-size: 1.125rem;
    margin-top: 1.75rem;
  }

  .main-illustration__bg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    max-width: 43.5rem;
    max-height: 37.5rem;
    padding: unset;
    margin: 0rem 2.4rem 0rem 2rem;
    background-repeat: no-repeat;
  }
  
  .main-illustration__bg img {
    margin: -2.8rem 0rem 0rem 13.5rem;
    overflow: hidden;
  }

  .main-illustration__img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-left: 6rem;
    margin-top: -8rem;
    max-width: 16.88rem;
    max-height: 34.75rem;
    z-index: 1;
  }

  .premium {
    grid-column: 1 / 3;
    grid-row: 2 / -1;
    z-index: 2;
    margin: -12rem 0 0 17rem;
    padding: 0 3rem;
    max-width: 24.95rem;
  }
}
